<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
    integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/api.js"></script>
</head>

<body>
  <div>
    <form id="loginForm">
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
      </div>
      <div>
        <input type="submit" value="Sign in">
      </div>
    </form>

    <div class="mt-3">
      <span>Don't have a account yet?</span>
      <a href="/signup">Sign up</a>
    </div>

    <div class="mt-3">
      <button id="google-login">
        Sign In With Google
      </button>
    </div>
  </div>

  <script>
    const loginForm = document.getElementById('loginForm')

    document.getElementById('google-login').addEventListener('click', () => {
      window.location.pathname = '/auth/google'
    })

    loginForm.addEventListener('submit', async (event) => {
      event.preventDefault()

      const formData = new FormData(loginForm)
      const payload = {}

      for (const [key, val] of formData.entries()) {
        payload[key] = val
      }

      await login(payload)
      window.location.pathname = '/'
    })
  </script>
</body>

</html>