<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
    integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h2>Profile</h2>
  <div>
    <a href="/Dashboard">Dashboard</a>
  </div>

  <form id="userForm" class="border mt-3">
    <div>
      <label for="Email">Email</label>
      <p id="email"></p>
    </div>
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required>
    </div>
    <div>
      <input type="submit" id="submit" value="Change Name">
    </div>
  </form>

  <script>
    const name = document.getElementById('name')
    const email = document.getElementById('email')
    const userForm = document.getElementById('userForm')

    window.onload = async () => {
      const { data } = await axios.get('/users/profile')

      name.value = data.name
      email.innerText = data.email
    }

    userForm.addEventListener('submit', async (event) => {
      event.preventDefault()

      await axios.post('/users', {
        name: name.value
      })
    })
  </script>
</body>

</html>